.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 20px;
  border-right: 1px solid #dadada;
}

.sidenav a{
  padding: 20px 8px 20px 16px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #dadada;
}